:root{
    --main-bg-color: #4c987e;
    --secondary-color:#114b46;
    --accent-color:#f47c5c;
    --neutral-color:#f4f1ed;
    --muted-text-color:#5a6e68;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg-color);
}