:root{
    --main-bg-color: #4c987e;
    --secondary-color:#114b46;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100vh - 100px;
    padding: 1rem 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.container .left{
    width: 30%;
}
.container .right{
    width: 30%;
}
.container .middle{
    width: 40%;
}
.create-group-modal{
    display: none;
    background-color: var(--main-bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    min-height: 300px;
    z-index: 1000;
    padding: 1rem 1.5rem;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}
.create-group-modal .wrappper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create-group-modal .wrappper input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    margin: .5rem;
}
.create-group-modal .wrappper ul{
    width: 100%;
}
.create-group-modal #create-group-btn-modal{
    font-size: 1.3rem;
    font-weight: bold;
    padding: .8rem;
    border-radius: 10cm;
    border: none;
    background-color: var(--secondary-color);
    color: #FFFFFF;
}
.selected{
    background-color: var(--secondary-color);
}
.create-group-modal ul{
    list-style: none;  
}
#overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(164, 164, 164, 0.285);
    z-index: 999;        
    pointer-events: auto;
}
.create-group-modal ul li{
    color: #FFFFFF;
    font-size: 1.5rem;
}
.close-modal-btn{
    position: absolute;
    top: 0;
    left: 90%;
    z-index: 101;
}
nav{
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    padding: .5rem 300px;
}
nav #account{
    color: #FFFFFF;
    
}
nav form #sign-out-btn{
    font-size: 1.3rem;
    font-weight: bold;
    padding: .8rem;
    border-radius: 10cm;
    border: none;
    background-color: var(--secondary-color);
    color: #FFFFFF;
}
nav .add-friend #add-friend-btn{
    font-size: 1.3rem;
    font-weight: bold;
    padding: .8rem;
    border-radius: 10cm;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    background-color: var(--secondary-color);
    color: #FFFFFF;
    height: 50px;
}
nav .add-friend #add-friend-field{
    outline: none;
    height: 50px;
    border: none;
    font-size: 1.5rem;
    width: 50%;
    padding: 0 10px;
} 
nav .add-friend{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .left .friends-container ul,.container .left .groups-container ul{
    list-style: none;
}

/* ADD EXPENSE MODAL */
.container .right .addExpense-container{
    background-color: peru;
    width: 100%;
    height: 100%;
}
.add-expense-modal{
    display: none;
    background-color: var(--main-bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    min-height: 300px;
    z-index: 1000;
    padding: 1rem 1.5rem;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}
.add-expense-modal .wrapper{
    border-radius: 25px;
    overflow: hidden;
}
.add-expense-modal .wrapper button{
    font-size: 1.3rem;
    font-weight: bold;
    padding: .8rem;
    border: none;
    background-color: var(--secondary-color);
    color: #FFFFFF;
    height: 50px;
}
.add-expense-modal .wrapper input{
    outline: none;
    height: 50px;
    border: none;
    font-size: 1.5rem;
    width: 50%;
    padding: 5px 30px;
    

}
.add-expense-modal .wrapper #description{
    padding: 5px 30px;
    
}
.add-expense-modal .wrapper .row1,.add-expense-modal .wrapper .row2{
    display: flex;
}
.choices .choice{
    transition: height 0.5s ease;
    min-height: 30px;
    overflow: hidden;

    width: 100px;
}
.choices .choice .person{
    height: 30px;
    width: 100%;
}
.activeChoice{
    transition:height 1s ease;;
    background-color: yellow;
}
@media only screen and (max-width: 1400px) {
    .container,nav{
        padding: 1rem 100px;
    }
  }


.activeGroupMember{
    background-color: violet;
}