:root{
    --main-bg-color: #4c987e;
    --secondary-color:#114b46;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100vh - 100px;
    padding: 1rem 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.container .left{
    width: 30%;
}
.container .right{
    width: 30%;
}
.container .middle{
    width: 40%;
}
.create-group-modal{
    display: none;
    background-color: var(--main-bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    min-height: 300px;
    z-index: 1000;
    padding: 2rem 2rem;
    flex-direction: column;
    gap: 15px;
    color: #4C8C7A;
    justify-content: space-between;
}
.create-group-modal .wrappper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create-group-modal .wrappper input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    margin: .5rem;
    font-size: 1.7rem;
    padding: 1.5rem .5rem;
    border-radius: 15px;
}
.create-group-modal .wrappper ul{
    width: 100%;
}
.create-group-modal #create-group-btn-modal{
    font-size: 1.3rem;
    font-weight: bold;
    padding: .8rem;
    border-radius: 10cm;
    border: none;
    background-color: var(--secondary-color);
    color: #FFFFFF;
}
.selected{
    background-color: var(--secondary-color);
}
.create-group-modal ul{
    list-style: none;  
}
#overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(164, 164, 164, 0.285);
    z-index: 999;        
    pointer-events: auto;
}
.create-group-modal ul li{
    color: #FFFFFF;
    font-size: 1.5rem;
}
.create-group-modal ul .user:hover{
    cursor: pointer;
}

.create-group-modal #create-group-btn-modal:hover{
    cursor: pointer;
}
.close-modal-btn:hover{
    cursor: pointer;
}
.close-modal-btn{
    position: absolute;
    top: 3%;
    left: 88%;
    z-index: 101;
    color: black;
}
nav{
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    padding: .5rem 300px;
}
nav #account{
    color: #FFFFFF;
    
}
nav form #sign-out-btn:hover{
    cursor: pointer;
}
nav form #sign-out-btn{
    font-size: 1.3rem;
    font-weight: bold;
    padding: .8rem;
    border-radius: 10cm;
    border: none;
    background-color: var(--secondary-color);
    color: #FFFFFF;
}
nav .add-friend #add-friend-btn:hover{
    cursor: pointer;
}

nav .add-friend #add-friend-btn{
    font-size: 1.3rem;
    font-weight: bold;
    padding: .8rem;
    border-radius: 10cm;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    background-color: var(--secondary-color);
    color: #FFFFFF;
    height: 50px;
}
nav .add-friend #add-friend-field{
    outline: none;
    height: 50px;
    border: none;
    font-size: 1.5rem;
    width: 50%;
    padding: 0 10px;
} 
nav .add-friend{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .left .friends-container ul,.container .left .groups-container ul{
    list-style: none;
}
.container .left a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 .5rem;
}
.container .left a:visited{
    color: black;
    text-decoration: none;
    font-size: 15rem;
    padding: 0 .5rem;
}
/* ADD EXPENSE MODAL */
.container .right .addExpense-container{
    width: 100%;
    height: 100%;

}
.add-expense-modal{
    display: none;
    background-color: var(--main-bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    min-height: 300px;
    z-index: 1000;
    padding: 2rem 2rem;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}
.add-expense-modal .wrapper{
    border-radius: 25px;
    overflow: hidden;
}
.add-expense-modal .wrapper button{
    font-size: 1.3rem;
    font-weight: bold;
    padding: .8rem;
    border: none;
    background-color: var(--secondary-color);
    color: #FFFFFF;
    height: 50px;
}
.add-expense-modal .wrapper input{
    outline: none;
    height: 50px;
    border: none;
    font-size: 1.5rem;
    width: 50%;
    padding: 5px 30px;
    

}
.add-expense-modal .wrapper #description{
    padding: 5px 30px;
    
}
.add-expense-modal .wrapper .row1,.add-expense-modal .wrapper .row2{
    display: flex;
}

.add-expense-modal .wrapper .row1 button:hover{
    cursor: pointer;
}
.choices .choice{
    transition: height 0.5s ease;
    min-height: 30px;
    overflow: hidden;
    color:#FFFFFF;
    width: 100%;
}
.choices .choice .person{
    height: 30px;
    width: 100%;
    font-size: 1.2rem;
}
.choices .choice .group{
    height: 30px;
    width: 100%;
    font-size: 1.2rem;
}
.choices .choice{
    cursor: pointer;
}
.choice .choice #groupMembers li:hover{
    cursor:pointer;
}
.activeChoice{
    transition:height 1s ease;;
    background-color: var(--secondary-color);
}
@media only screen and (max-width: 1400px) {
    .container,nav{
        padding: 1rem 100px;
    }
  }


.activeGroupMember{
    background-color: #14716a;
}

#create-group-btn:hover #one,#create-group-btn:hover #two{
    background-color: #55ad8e;
    transition: ease .5s;
}
#create-group-btn:hover {
    cursor:pointer;
    background-color:none;
    transition: ease .5s;
    border-color: #55ad8e;
    transition: ease .5s;
}
#create-group-btn{
    border: none;
    position: relative;
    width: 50px;
    height: 50px;
    border: 5px solid var(--main-bg-color);
    border-radius: 50%;
    background:none;
    margin: .2rem;
    transition: ease .5s;
}
#create-group-btn #one,#create-group-btn #two{
    display: block;
    transition: ease .5s;
}
#create-group-btn #one{
    width: 10px;
    height: 30px;
    background-color: var(--main-bg-color);
    position: absolute;
    left: 50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
}
#create-group-btn #two{
    width: 30px;
    height: 10px;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    background-color: var(--main-bg-color);
}



.left .groups-container #create-group-btn{
    margin: 5px 0;
}
.left .friends-container h3,.left .groups-container h3{
    font-size: 3rem;
}

.addExpense-container #add-expense-btn{
    font-size: 2rem;
    background-color: rebeccapurple;
    padding: 1rem;
    border-radius: 25px;
    color: #FFFFFF;
    background-color: var(--main-bg-color);
    outline: navajowhite;
    border: none;
    font-weight: bold;
    transition: ease .5s;
}
.addExpense-container #add-expense-btn:hover{
    cursor: pointer;
    background-color: #55ad8e;
    transition: ease;
    transition: ease .5s;
}