<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title th:text="${group.name}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/style/group.css}" href="../static/style/group.css" >
</head>
<body>

<nav>
    
    <a th:href="@{~/account}" id="account">Account</a>
    <a th:href="@{~/home}" id="dashboardLink">Dashboard</a>
<form th:action="@{/logout}" method="post">
    <input type="submit" id="sign-out-btn" value="Sign Out"/>
</form>
</nav>  
<div class="container">
    <div class="left">
        <div class="members-container">
            <ul >
                <li th:each="user : ${users}" ><a th:href="@{'~/friends/' +${user.username}}" th:text="${user.username}"></a></li>
            </ul>
        </div>
    </div>
    <div class="middle">
        <div class="settleExpenses-container">
            <button id="settle-expense-btn">Settle Expense</button>
        </div>
        <div class="group-net-balances-container">
            <ul>
                <li th:each="balance : ${groupBalances}" th:text="${balance}"></li>
            </ul>
        </div>
        <div class="expenses-container">
            <div class="expense" th:each="expense : ${expenses}">
                <h1 th:text="${expense.description}"></h1>
                <h2 th:text="'Total: ' +${expense.amount}+ 'MKD'"></h2>
                <ul>
                <li th:text="'Created by:'+${expense.creator}"></li>
            </ul></div>
        </div>
    </div>
    <div class="right">
        <div class="addExpense-container">
            <button id="add-expense-btn">Add Expense</button>
        </div>
    </div>
    
    
    
</div>

    <div id="overlay"></div>
    <div class="add-expense-modal" style="display: none;">
        <div class="wrapper">
            <div class="row1">
                <input type="text" name="" id="sum" placeholder="Sum..." style="width: 50%;"><button style="width: 50%;">Add expense</button>
            </div>
            <div class="row2">
                <input type="text" name="" id="description" placeholder="Description..." style="width: 100%;">
            </div>
        </div>
        <div class="choices">
            <!-- <h3>People:</h3> -->
            <!-- <div class="choice"><div class="person"></div></div>
            <div class="choice"><div class="person"></div></div>
            <div class="choice"><div class="person"></div></div>
            <div class="choice"><div class="person"></div></div> -->
        </div>
        <span class="close-expense-modal-btn close-modal-btn">Close</span>
    </div>
    <div class="settle-expense-modal">
        <span id="close-btn-modal">Close</span>
        <span username="test" amont="50">You are owed 50$</span>
    </div>
    
    <span style="display:none;" sec:authentication="name" id="usernameeee">thymeleaf</span>
    <span style="display:none;" th:text="${group.id}" id="groupId">thymeleaf</span>
<!-- <script  th:src="@{/script/expenseModlue.js}" type="module" src="../static/script/expenseModlue.js"></script> -->
<script th:src="@{/script/group.js}" type="module" src="../static/script/group.js"></script>
</body>
