<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Home</title>
    <!-- -->
    <link rel="stylesheet" type="text/css" th:href="@{style/home.css}" href="../static/style/home.css" >
</head>
<body>

<nav>
    
    <a th:href="@{~/account}" id="account">Account</a>
<div class="add-friend">
    
    <!--    <form action="#" th:action="@{/add-friend}" th:object="${friend_request}" method="post"><input type="text" name="nickname"><input type="submit"></form>-->
        <input id="add-friend-field" type="text" placeholder="Username...">
        <button id="add-friend-btn">Add friend</button>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" id="sign-out-btn" value="Sign Out"/>
</form>
</nav>  
<div class="container">
    <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
    <div class="friends-container">
        <h3>Friends:</h3>
        <ul >
            <li th:each="friend : ${friends}" ><a th:href="@{'~/friends/' +${friend.username}}" th:text="${friend.username}"></a></li>
        </ul>
    </div>
    <div class="groups-container">
        <h3>Groups:</h3>
        <ul>
            <li th:each="group : ${groups}"><a th:text="${group.name}" th:href="@{'~/groups/'+ ${group.id}}"></a></li>
        </ul>
    </div>
    <button id="create-group-btn">Create group</button>
</div>

<div id="overlay"></div>


<div class="create-group-modal">
    <div class="wrappper">
        <input type="text" placeholder="Name...">
    <ul>

    </ul>
    </div>
    <button id="create-group-btn-modal">Create group</button>
    <span id="close-modal-btn">Close</span>
</div>
<script th:src="@{/script/home.js}" src="../static/script/home.js"></script>
</body>
</html>