<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <!--   href="../static/style/login.css"  -->
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{style/login.css}" href="../static/style/login.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
<div class="container">

    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div class="row-wrapper"><label> Username:</label><input type="text" name="username"/></div>
        <div class="row-wrapper"><label> Password:</label> <div id="input-wrapper"><input type="password" name="password"/> <span id="eye-wrapper"><i class="fa-solid fa-eye"></i><i class="fa-solid fa-eye-slash"></i></span></div></div>
        <div><input id="submit-btn" type="submit" value="Sign In"/></div>
    </form>
    <hr id="horizontal-line">
    <p id="register-text-wrapper">Don't have an account? <a th:href="@{/register}" id="register-btn">Register!</a></p>
    
</div>
<script>
    const eye = document.querySelector(".fa-eye");
    const eyeSlash = document.querySelector(".fa-eye-slash");
    const eye_wrapper = document.querySelector("#eye-wrapper");
    const input_field = document.querySelector("#input-wrapper input");
    eyeSlash.style.display="none";
    eye_wrapper.addEventListener("mousedown",(e)=>{
        eye.style.display = "none";
        input_field.setAttribute("type","text");
        eyeSlash.style.display = "block";

    })
    eye_wrapper.addEventListener("mouseup",(e)=>{
        eyeSlash.style.display = "none";
        input_field.setAttribute("type","password");
        eye.style.display = "block";
    })
</script>
</body>

</html>