<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            width: 100%;
            height: 100vh;
            background-color: #4c987e;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        body h1{
            color: #ffff;
        }
        
    </style>
</head>
<body>
    <h1>Account successfully verified!</h1>
    <h1>Log in <a th:href="@{/login}">here</a></h1>
</body>
</html>